<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kiosksharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <kiosksharp.Properties.Settings>
            <setting name="XmlConfig" serializeAs="String">
                <value>config.xml</value>
            </setting>
            <setting name="swf_menu" serializeAs="String">
                <value>menu_geri.swf</value>
            </setting>
            <setting name="swf_loading" serializeAs="String">
                <value>loading.swf</value>
            </setting>
            <setting name="swf_keyboard" serializeAs="String">
                <value>klavye.swf</value>
            </setting>
            <setting name="swf_intro" serializeAs="String">
                <value>intro.swf</value>
            </setting>
            <setting name="disable_cursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disable_intro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="preload_movie_timeout" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="system_lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="navigation_timeout" serializeAs="String">
                <value>15</value>
            </setting>
        </kiosksharp.Properties.Settings>
    </applicationSettings>
</configuration>